body {
    align-items: center;
    background-color: #282C34;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.time-container {
    color: #ccc;
    display: flex;
    letter-spacing: 2px;
}

.time-container span {
    font-size: 4rem;
    top: 5px;
    position: relative;
}

.timer-text {
    font-size: 5rem;
    margin: 0;
}